Attached is documentation and schema for the datasette api: {{ url }}

<Documentation>
{{ docs }}
</Documentation>

<Schema>
{{ schema }}
</Schema>

produce a single single html file with inline <script> to fetch from said api and display data that user requests
{{ query }}