Attached is documentation and schema for the datasette api: 

<API>
{{ url }}
</API>

<Documentation>
{{ docs }}
</Documentation>

<Schema>
{{ schema }}
</Schema>

{% if previous %}
The previous generate page is:

{{ previous }}

{% endif %}Produce a single single html file with inline <script> to fetch from said api and display data that user requests:

{{ query }}