<h2>
    <a href="/">/</a>
    {{ project }}
</h2>

<h2>Pages</h2>
<ul>
    {% for page in pages %}
    <li><a href="/{{ project }}/page/{{ page }}">{{ page }}</a></li>
    {% endfor %}
</ul>
<form method="post">
    <input type="text" name="page" placeholder="New page">
    <input type="hidden" name="kind" value="page">
    <input type="submit" value="Create New Page">
</form>

<h2>Generations</h2>
<table>
    <thead>
        <tr>
            <th>Page</th>
            <th>Query</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody>
        {% for generation in generations %}
        <tr>
            <td><a href="/{{ project }}/page/{{ generation.page }}">{{ generation.page }}</a></td>
            <td><a href="/{{ project }}/page/{{ generation.page }}/{{ generation.uuid }}">{{ generation.query }}</a>
            </td>
            <td>{{ generation.created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</ul>

<h2>User Files</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td><a href="/{{ project }}/file/{{ file.name }}">{{ file.name }}</a></td>
            <td>{{ file.created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="hidden" name="kind" value="file">
    <input type="submit" value="Upload File">
</form>


<h2>Resources</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>User</th>
            <th>Assistant</th>
        </tr>
    </thead>
    <tbody>
        {% for resource in resources %}
        <tr>
            <td>{{ resource.name }}</td>
            <td><textarea rows="4" cols="50" readonly>{{ resource.user }}</textarea></td>
            <td><textarea rows="4" cols="50" readonly>{{ resource.assistant }}</textarea></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post">
    <input type="text" name="url" placeholder="Datasette URL">
    <input type="text" name="name" placeholder="Resource Name">
    <input type="hidden" name="kind" value="datasette">
    <input type="submit" value="Generate Datasette Docs">
</form>